/* general */

    body{ 
		background:#d8e6ec url(../images/bg_body2.gif) repeat-x;
        font:80% Arial, Helvetica, Sans-Serif;
		color:#555;
		line-height:180%;
		margin:0;
		padding:0;
		text-align:center;
        }
	h1{
		font-size:200%;
		font-weight:normal;
		margin:0;
		padding-left:35px;
		padding-top:100px
		}		
	h2, h3, h4, h5, h6{
		font-weight:normal;
		margin:1em 0;
		}	
	h2{            
		font-size:160%;
		}	
	h3{          
		font-size:140%;
		}
	h4{          
		font-size:120%;
		}				
			
	p{
		margin:1em 0;
		}		


/* // general */

/* page setup */

	#container{	
		margin:0 auto;
		width:1050px;
		text-align:left;
		}
	#header{
		height:236px;
		background:url(../images/bg_header.jpg) no-repeat 0 0;
		}
	#Editheader2{
		height:226px;
		background:url(../images/head3edit2.jpg) no-repeat 0 0;
		}						
	#Editheader{
		height:37px;
		background:url(../images/bg_headerEdit.jpg) no-repeat 0 0;
		}				
	#content{
		background:url(../images/bg_content.gif) repeat-y;
		padding:.9em 34px;
		}
	#footer{
		padding:25px 60px;
		background:url(../images/bg_footer.jpg) no-repeat 0 0;				
		color:black;
		}				

/* //page setup */

